<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchBackground</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>OshiNium</string>
	<key>CFBundleIdentifier</key>
	<string>com.hiraihazumu.OshiNium7</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-hakki-diamond</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-hakki-diamond</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-gokuki-heartdiamond</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-gokuki-heartdiamond</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-ouki-pinksapphire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-ouki-pinksapphire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-hekiki-tiffanyblue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-hekiki-tiffanyblue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-hiki-ruby</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-hiki-ruby</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-suiki-emerald</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-suiki-emerald</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-souki-sapphire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-souki-sapphire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-shiki-amethyst</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-shiki-amethyst</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.94111411970-ec7vno03hk4oqnr5vks1u147htuevlje</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.hiraihazumu.OshiNium7.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oshinium</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>プロフィールのQRコードを読み取るためにカメラを使用します</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>グループのアイコン画像や会場レポートの写真を選択するために、写真ライブラリを使用します</string>
</dict>
</plist>
